<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.harshevilgeek.loyaltypays" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".ui.CustomerMainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light"/>

        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/title_activity_login"
             android:theme="@android:style/Theme.Holo.Light"/>

        <activity
            android:name=".ui.SignUpActivity"
            android:label="@string/title_activity_signup"
            android:theme="@android:style/Theme.Holo.Light"/>

        <activity
            android:name=".ui.DispatchActivity"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.WelcomeActivity"
            android:label="@string/app_name"
             android:theme="@android:style/Theme.Holo.Light" />
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_settings" />
    </application>

</manifest>
